<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Theming options</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>detail</key>
        <string>NBPThemingOptionsController</string>
        <key>label</key>
        <string>Theming options</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Customization options</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>detail</key>
        <string>NBPCustomizationController</string>
        <key>label</key>
        <string>Customization options</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Respring to apply changes</string>
      </dict>
      <dict>
        <key>action</key>
        <string>respring</string>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Respring</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Follow me</string>
      </dict>
      <dict>
        <key>action</key>
        <string>twitter</string>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Twitter</string>
      </dict>
      <dict>
        <key>action</key>
        <string>github</string>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>GitHub (the source code's there)</string>
      </dict>
    </array>
    <key>title</key>
    <string>NeonBoard</string>
  </dict>
</plist>
