<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Manage themes</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>detail</key>
        <string>NBPThemeListController</string>
        <key>label</key>
        <string>Manage themes</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>detail</key>
        <string>NBPOverridesController</string>
        <key>label</key>
        <string>Manage overrides</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Glyph mode</string>
        <key>footerText</key>
        <string>This toggle needs to be enabled if you're using a glyph theme (one with transparent icons) or the icons will have a black background instead of a transparent one. Don't enable it with non-glyph themes!</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kGlyphMode</string>
        <key>label</key>
        <string>Glyph mode</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Disable static clock rendering</string>
        <key>footerText</key>
        <string>If you see that the static clock icon has 6 arrows instead of 3, rendered upon each other, enable this toggle.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kNoStaticClock</string>
        <key>label</key>
        <string>Disable static clock rendering</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Masking options</string>
        <key>footerText</key>
        <string>Enable "Mask rendered icons" if you want to use icon masks on iOS 14.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kMaskWidgets</string>
        <key>label</key>
        <string>Mask widget icons</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kMaskSettings</string>
        <key>label</key>
        <string>Mask Settings icons</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kMaskRendered</string>
        <key>label</key>
        <string>Mask rendered icons</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Disable Activator icon blur</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>key</key>
        <string>kActivatorFix</string>
        <key>label</key>
        <string>Disable Activator icon blur</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Custom Dock Y</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>key</key>
        <string>kDockY</string>
        <key>min</key>
        <real>-200.0</real>
        <key>max</key>
        <real>200.0</real>
        <key>showValue</key>
        <true/>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Dock scale factor</string>
        <key>footerText</key>
        <string>Example: a dock scale factor of 2 means the dock will be resized by 2 times (e.g. will be 2 times larger)</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>key</key>
        <string>kDockScale</string>
        <key>min</key>
        <real>1.0</real>
        <key>max</key>
        <real>2.0</real>
        <key>showValue</key>
        <true/>
      </dict>
    </array>
  </dict>
</plist>
